@use 'use/reset';
@use 'use/theme';

::selection {
    color: #333;
    background-color: theme.$primary;
    -webkit-text-fill-color: #333;
}

:focus-visible {
    outline: theme.$primary dashed 2px;
    outline-offset: 0.5rem;
    transition: outline-offset 0.3s ease;
}
body {
    font-family: theme.$bodyFontFamily, serif;
    font-size: theme.$fontSize;

    h1,
    h2,
    h3,
    h4 {
        font-family: theme.$titleFontFamily, serif;
    }

    div#root {
        div.App {
            background-color: theme.$background;
            color: theme.$text;
        }
    }
}
